{% extends "../_common/layout.html" %}

{% block "block_custom_css" %}
<link href="{{constant.cdn}}/biubiubiu/static/image/login/favicon.ico" type="image/x-icon" rel="icon">
<script src="/biubiubiu/static/js/common/flexible.js"></script>

{% endblock %}

{% block "block_custom_js" %}

<script src="/biubiubiu/static/js/studio_index/build.js?0a394e720b"></script>

<script src="/biubiubiu/static/js/common/build.js?b0528e2a04"></script>


{% endblock %}

{% block "content" %}

<!-- 页面入口 -->
<div id="app"></div>

{% endblock %}